#secret {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  /* background-color: red; */
  z-index: 1000;
}

/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label
{
 margin: 0;
 padding: 0; 
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;
 vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }


/* my stuff */
.main {
 position: relative;
 width: 100vw;
 height: 100vh;
 display: grid;
 grid-template: 1fr / 1fr 1fr;
 --color-1: hsl(22, 61%, 93%);
 --color-2: hsl(42, 42%, 80%);
 background: repeating-linear-gradient( 45deg, var(--color-1), var(--color-1) 6px, var(--color-2) 6px, var(--color-2) 12px );
}

.me {
 height: 480px;
 max-height: 100vh;
 justify-self: end;
 align-self: end;
}

.info {
 list-style: none;
}

.info a {
 text-decoration: none;
 color: hsl(12, 26%, 41%);
 font-family: verdana, sans-serif;
 font-size: 2rem;
}

.info a:hover, .info a:focus {
  color: hsla(30, 50%, 68%, 0.8);
  outline: none;
  text-shadow: hsl(12, 26%, 41%) 0px 6px 0;
}

.info a:active {
  color: hsl(20, 50%, 70%);
}

@media (max-width: 855px) {
  .me {
   width: 100%;
   height: auto;
  }
 
 .main {
  grid-template: 1fr / 1fr;
 }
}

@media (max-width: 420px) {
 .info {
   display: flex;
   justify-content: space-between;
   padding: 1em;
 }
 
 .info a {
   writing-mode: vertical-lr;
   text-orientation: upright;
 }
}
